body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
}

#logo{
    width: 150px;
}

#logosmall{
    width: 43px;
}

/* #search-bar{
    max-width: 400px;
} */

#header-item{
    font-size: large;
}

#search-box{
    width: 400px;
}

#banner-img{
    width: 100%;
    max-height: 700px;
}

#product-box{
    min-height: 300px;
}

#sidebar{
    width: 300px;
    height: 800px;
}

/* #img{
    width: 60%;
} */
/* #login{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
} */

#login-box{
    width: 30%;
    max-width: 40%;
}

/* #footer{
    position: absolute;
    width: 100%
}*/
#cart-table-header-sp{
    width: 20%;
}
#cart-table-header{
    width: 10%;
}

#cart-data-block{
    width: 60%;
    height: 100%;
}

#cart-buy-block{
    max-width: 60%;
}

/* #item-view{
    max-width: 60%;
} */
#inputbar{
    width: 20%;
}

#img{
    max-height: 300px;
    min-height: 300px;
    max-width: 300px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}