body{
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    width: 150px;
}

#logosmall{
    width: 43px;
}

/* #search-bar{
    max-width: 400px;
} */

#header-item{
    font-size: large;
}

#search-box{
    width: 400px;
}

#banner-img{
    width: 100%;
    max-height: 700px;
}

#product-box{
    min-height: 300px;
}

#sidebar{
    width: 300px;
    height: 800px;
}

#login{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#login-box{
    width: 30%;
    max-width: 40%;
}